/* COLORS */

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray-1: hsl(0, 0%, 20%);
  --clr-gray-2: hsl(0, 0%, 31%);
  --clr-gray-3: hsl(0, 0%, 51%);
  --clr-gray-4: hsl(0, 0%, 74%);
  --clr-gray-5: hsl(0, 0%, 88%);
  --clr-gray-6: hsl(0, 0%, 95%);
  --clr-blue: hsl(202, 71%, 52%);
  --clr-green: hsl(145, 63%, 42%);
  --clr-crimson: hsl(0, 79%, 63%);
  --clr-dark-blue: hsl(248, 35%, 8%);
}

/* FONTS */

:root {
  --ff-hb: "Heebo", sans-serif;
  --ff-mt: "Montserrat", sans-serif;
  --ff-pp: "Poppins", sans-serif;
  --fw-rg: 400;
  --fw-md: 500;
  --fw-sb: 600;
  --fw-bd: 700;
  --fw-xb: 800;
  --fs-xs: 1.4rem;
  --fs-sm: 1.6rem;
  --fs-md-1: 1.8rem;
  --fs-md-2: 2.4rem;
  --fs-lg: 3.6rem;
  --fs-xl: 4.8rem;
}

/* RESETS */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  position: relative;
  font-size: 62.5%;
}

html,
body {
  min-height: 100%;
}

img,
i[class] {
  user-select: none;
}

input,
button {
  font: inherit;
  background-color: transparent;
  border: 0;
  color: inherit;
}

input:focus,
button:focus {
  outline: 0;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--clr-white);
  padding: 4.2rem 0 0 0;
  width: calc(100% - (clamp(1.2rem, 6vw, 5.2rem) * 2));
  outline: 0.1rem solid red;
  margin: auto;
  color: var(--clr-gray-1);
  font: var(--fw-rg) var(--fs-md-1) var(--ff-pp);
}
